<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Bones - Events</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="../static/main.css" rel="stylesheet">
</head>

<body>
    <nav class="navbar">
        <div class="container-fluid align-items-center">
            <span class="navbar-brand" id="logoButton"><img src="../static/BareBonesLogo_White.svg" width=150px></span>
            <span class="nav-item" id="settingsButton"> <img src="../static/icons/settings.svg"></span>
        </div>
    </nav>
    <div class="container-fluid" id="main">
        <div class="row">
            <div class="col p-3" id="eventsList">
                <h3>Bare Bones Events:</h3>
                <ul></ul>
            </div>
            <div class="d-grid gap-2 col-3 mx-auto p-4">
                <button type="button" class="btn btn-primary" id="add" data-bs-toggle="modal"
                    data-bs-target="#addModal">Add Event</button>
                <button type="button" class="btn btn-primary" id="edit" style="margin-top: 10%;" data-bs-toggle="modal"
                    data-bs-target="#editModal">Edit or Remove Event</button>
            </div>
        </div>
        <div class="row">
            <div class="modal fade modal-lg" id="addModal" data-bs-backdrop="static" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h1 class="modal-title fs-5" id="exampleModalLabel">Add Event:</h1>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <form>
                                <div class="mb-3">
                                    <label for="eventTitle" class="form-label">Event Title: </label>
                                    <input type="text" class="form-control" id="eventTitle">
                                </div>
                                <div class="mb-3">
                                    <label for="eventDate" class="form-label">Date: </label>
                                    <input type="date" class="form-control" id="eventDate">
                                </div>
                                <div class="mb-3">
                                    <label for="startTime" class="form-label">Start Time: </label>
                                    <input type="time" class="form-control" id="startTime">
                                </div>
                                <div class="mb-3">
                                    <label for="endTime" class="form-label">End Time: </label>
                                    <input type="time" class="form-control" id="endTime">
                                </div>
                                <div class="mb-3">
                                    <label for="eventLocation" class="form-label">Location: </label>
                                    <input type="text" class="form-control" id="eventLocation">
                                </div>
                                <div class="mb-3">
                                    <label for="eventNotes" class="form-label">Notes: </label>
                                    <textarea class="form-control" id="eventNotes" rows="5"></textarea>
                                </div>
                            </form>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            <button type="submit" class="btn btn-primary" id="eventSubmission">Submit</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal fade modal-lg" id="editModal" data-bs-backdrop="static" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h1 class="modal-title fs-5" id="exampleModalLabel">Edit Event:</h1>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <form id="editForm">
                                <div class="mb-3">
                                    <label for="pickEvent" class="form-label">Event to Modify: </label>
                                    <input list="datalistOptions" class="form-control" id="pickEvent">
                                    <datalist id="datalistOptions">
                                        <option value = "Event 1">
                                        <option value = "Event 2">
                                        <option value = "Event 3">
                                    </datalist>
                                </div>
                                <div class="mb-3">
                                    <label for="eventTitle" class="form-label">Event Title: </label>
                                    <input type="text" class="form-control" id="eventTitle">
                                </div>
                                <div class="mb-3">
                                    <label for="eventDate" class="form-label">Date: </label>
                                    <input type="date" class="form-control" id="eventDate">
                                </div>
                                <div class="mb-3">
                                    <label for="startTime" class="form-label">Start Time: </label>
                                    <input type="time" class="form-control" id="startTime">
                                </div>
                                <div class="mb-3">
                                    <label for="endTime" class="form-label">End Time: </label>
                                    <input type="time" class="form-control" id="endTime">
                                </div>
                                <div class="mb-3">
                                    <label for="eventLocation" class="form-label">Location: </label>
                                    <input type="text" class="form-control" id="eventLocation">
                                </div>
                                <div class="mb-3">
                                    <label for="eventNotes" class="form-label">Notes: </label>
                                    <textarea class="form-control" id="eventNotes" rows="5"></textarea>
                                </div>
                            </form>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            <button type="button" class="btn btn-primary" id="saveChanges">Save changes</button>
                            <button type="button" class="btn btn-danger" id="deleteEvent">Delete event</button>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"></script>
    <script type="module" src="../static/events.js"></script>
    <script src="../static/redirects.js"></script>
</body>

</html>