<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Bones - Minutes</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="../static/main.css" rel="stylesheet">
</head>

<body>
    <nav class="navbar">
        <div class="container-fluid align-items-center">
            <span class="navbar-brand" id="logoButton"><img src="../static/BareBonesLogo_White.svg" width=150px></span>
            <span class="nav-item" id="settingsButton"> <img src="../static/icons/settings.svg"></span>
        </div>
    </nav>
    <div class="container-fluid" id="main">
        <div class="row">
            <div class="col p-3" id="resourcesList">
                <h3>Minutes:</h3>
                <ul></ul>
            </div>
            <div class="d-grid gap-2 col-3 mx-auto p-4">
                <button type="button" class="btn btn-primary" id="add" data-bs-toggle="modal"
                    data-bs-target="#addModal">Upload Minutes</button>
                <!-- <button type="button" class="btn btn-primary" id="edit" style="margin-top: 10%;" data-bs-toggle="modal"
                    data-bs-target="#editModal">Delete Minutes</button> -->
            </div>
        </div>
        <div class="row">
            <div class="modal fade modal-lg" id="addModal" data-bs-backdrop="static" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h1 class="modal-title fs-5" id="exampleModalLabel">Upload Minutes:</h1>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <form>
                                <div class="mb-3">
                                    <label for="resourceName" class="form-label">File Name: </label>
                                    <input type="text" class="form-control" id="resourceName">
                                </div>
                                <div class="mb-3">
                                    <input type="file" class="form-control" id="resourceFile">
                                </div>
                            </form>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            <button type="submit" class="btn btn-primary" id="resourceSubmission">Submit</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal fade modal-lg" id="editModal" data-bs-backdrop="static" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h1 class="modal-title fs-5" id="exampleModalLabel">Delete Minutes:</h1>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <form id="editForm">
                                <div class="mb-3">
                                    <label for="pickResource" class="form-label">File to Delete: </label>
                                    <input list="datalistOptions" class="form-control" id="pickResource">
                                    <datalist id="datalistOptions"></datalist>
                            </form>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            <button type="button" class="btn btn-danger" id="deleteEvent">Delete minutes</button>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"></script>
    <script type="module" src="../static/minutes.js"></script>
    <script src="../static/redirects.js"></script>
</body>

</html>