<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Bones - Settings</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="../static/main.css" rel="stylesheet">
</head>

<body>
    <nav class="navbar">
        <div class="container-fluid align-items-center">
            <span class="navbar-brand" id="logoButton"><img src="../static/BareBonesLogo_White.svg" width=150px></span>
            <span class="nav-item" id="settingsButton"> <img src="../static/icons/settings.svg"></span>
        </div>
    </nav>
    <div class="container-fluid" id="main">
        <p>settings go here</p>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"></script>
    <!-- <script type="module" src="../static/events.js"></script> -->
    <script src="../static/redirects.js"></script>
</body>

</html>