<!DOCTYPE html>
<html>

<head>
    <title>Ubiquitous They Sketch Spring 2026 Program</title>
</head>
<style>
    .pdf {
        width: 100%;
        aspect-ratio: 4 / 3;
    }

    .pdf,
    html,
    body {
        height: 100%;
        margin: 0;
        padding: 0;
    }

    h1,
    h3 {
        text-align: center;
    }
</style>

<body>
    <object class="pdf" data="https://drive.google.com/file/d/1zsFQ1OUWdFFCm5vDTD7mkR7qB8o3DeIY/preview" width="800"
        height="500">
    </object>
</body>

</html>
