.navbar {
    background-color: #3E2865;
}

#side-panel {
    background-color: #E9E0FA;
    width: 25%;
}

h3 {
    font-size: large;
}

#upcoming{
    ul {
        padding-left: 50px;
        align-self: top;
    }
}

#dashboard{
    .btn {
        padding: 5px;
    }
}

#main{
    height: 100%;
}

hr {
    border: none; 
    height: 3px;
    background-color: #3E2865; 
    width: 100%; 
    margin: 20px auto; 
  }