.navbar {
    background-color: #3E2865;
}

#side-panel {
    background-color: #E9E0FA;
    width: 25%;
}

h3 {
    font-size: large;
}

#upcoming{
    ul {
        padding-left: 50px;
        align-self: top;
    }
}

#dashboard{
    .btn {
        padding: 5px;
    }
}

#main{
    height: 100%;
}

hr {
    border: none; 
    height: 3px;
    background-color: #3E2865; 
    width: 100%; 
    margin: 20px auto; 
  }

.btn-primary {
    --bs-btn-color: #E9E0FA;
    --bs-btn-bg: #3E2865;
    --bs-btn-border-color: #3E2865;
    --bs-btn-hover-color: #3E2865;
    --bs-btn-hover-bg: #E9E0FA;
    --bs-btn-hover-border-color: #3E2865;
    --bs-btn-focus-shadow-rgb: var(--bd-violet-rgb);
    --bs-btn-active-color: #3E2865;
    --bs-btn-active-bg: #a089c9;
    --bs-btn-active-border-color: #3E2865;
}