name: Deploy Flask App to EC2

on:
  push:
    branches: [ "main" ]

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
    - name: Deploy via SSH
      uses: appleboy/ssh-action@v1
      with:
        host: ${{ secrets.EC2_HOST }}
        username: ${{ secrets.EC2_USER }}
        key: ${{ secrets.EC2_SSH_KEY }}
        envs: DB_HOST,DB_PORT,DB_USER,DB_PASSWORD,DB_NAME
        script: |
          cd /home/ec2-user/Kendall-Parry-Capstone-Project
          git pull origin main
          source venv/bin/activate
          cd /home/ec2-user/Kendall-Parry-Capstone-Project/application
          pip install -r requirements.txt

          cat > .env << EOF
          DB_HOST=$DB_HOST
          DB_PORT=$DB_PORT
          DB_USER=$DB_USER
          DB_PASSWORD=$DB_PASSWORD
          DB_NAME=$DB_NAME
          EOF

          pkill gunicorn || true
          nohup gunicorn -b 0.0.0.0:8000 run:app > gunicorn.log 2>&1 &
        env:
          DB_HOST: ${{ secrets.DB_HOST }}
          DB_PORT: ${{ secrets.DB_PORT }}
          DB_USER: ${{ secrets.DB_USER }}
          DB_PASSWORD: ${{ secrets.DB_PASSWORD }}
          DB_NAME: ${{ secrets.DB_NAME }}
