name: Deploy Flask App to EC2

on:
  push:
    branches: [ "main" ]

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
    - name: Deploy via SSH
      uses: appleboy/ssh-action@v1
      with:
        host: ${{ secrets.EC2_HOST }}
        username: ${{ secrets.EC2_USER }}
        key: ${{ secrets.EC2_SSH_KEY }}
        script: |
          cd /home/ec2-user/Kendall-Parry-Capstone-Project
          git pull origin main
          source venv/bin/activate
          pip install -r application/requirements.txt
          pkill gunicorn || true
          nohup gunicorn -b 127.0.0.1:8000 run:app > gunicorn.log 2>&1 &
